.torras {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    height: 60%;
}

.imagens {
    width: 50%;
    height: 100%;
}

.imagens>img {
    width: 100%;
    height: 100%;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.texto>p {
    color: rgba(77, 57, 51, 0.6);
    width: 80%;
    margin-left: 10%;
}

h3 {
    font-family: "Newsreader";
    font-style: italic;
    color: #854442;
    margin-bottom: 15px;
    margin-left: 10%;
}

.caixas {
    display: flex;
    justify-content: space-between;
}

.caixas > div {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.caixa {
    width: 92%;
    height: 22rem;
    background-color: rgba(190, 155, 123, 0.2);
    border-radius: 8px;
    padding: 2%;
    margin-bottom: 10%;
    align-items: center;
    overflow: hidden;
}

.caixa>h3 {
    text-align: right;
}

.caixa>ul>li {
    /* list-style: disc; */
    color: rgba(77, 57, 51, 0.6);
}

.caixa>img {
    width: 20%;
}

.moagem {
    display: flex;
}

.moagem>img {
    width: 20%;
}

.moagem>h4 {
    color: #4B3832;
    font-size: 1rem;
    overflow: hidden;
    height: fit-content;
    display: flex;
    align-items: center;
}

.img-metodo {
    width: 20%;
    height: 20%;
    z-index: 3;
    position: relative;
    bottom: 150px;
    left: 75%;
}

.img-metodo>img {
    width: 100%;
    height: 100%;
}
.img-metodo1 {
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: row;
    z-index: 3;
    position: relative;
    bottom: 170px;
    left: 50%;
}

.img-metodo1>img {
    width: 90%;
    height: 90%;
}
.img-metodo2 {
    width: 20%;
    height: 20%;
    display: flex;
    flex-direction: row;
    z-index: 3;
    position: relative;
    bottom: 320px;
    left: 75%;
}

.img-metodo2>img {
    width: 90%;
    height: 90%;
}
