.torras {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    height: 60%;
}

.imagens {
    width: 50%;
    height: 100%;
}

.imagens>img {
    width: 100%;
    height: 100%;
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.texto>p {
    color: rgba(77, 57, 51, 0.6);
    width: 70%;
    margin-left: 15%;
}

h3 {
    font-family: "Newsreader";
    font-style: italic;
    color: #854442;
    margin-bottom: 15px;
    margin-left: 15%;
}

.caixas {
    display: flex;
    justify-content: space-between;
}

.caixas > div {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.caixa {
    width: 93%;
    height: 22rem;
    background-color: rgba(190, 155, 123, 0.2);
    border-radius: 8px;
    padding: 3%;
    margin-bottom: 10%;
    align-items: center;
    overflow: hidden;
}

.caixa>h3 {
    width: 80%;
    text-align: right;
    overflow: hidden;
}

.caixa> ul{
    overflow: hidden;
}

.caixa>ul>li {
    /* list-style: disc; */
    color: rgba(77, 57, 51, 0.6);
}

.caixa>img {
    width: 20%;
}

.moagem {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.moagem>img {
    width: 20%;
}

.moagem>h4 {
    color: #4B3832;
    font-size: 1rem;
    overflow: hidden;
    height: fit-content;
    display: flex;
    align-items: center;
}

.retangulo {
    width: 7%;
    height: 3.2%;
    z-index: 3;
    position: relative;
    left: 46.5%;
    overflow: hidden; 
}

.retangulo>img {
    width: 100%;
    height: 100%;
}

.img-turco {
    width: 7%;
    height: 20%;
    z-index: 3;
    position: relative;
    bottom: 195%;
    left: 43%; 
}

.img-turco>img {
    width: 100%;
    height: 90%;
}

.img-espresso {
    width: 7%;
    height: 20%;
    z-index: 3;
    position: relative;
    bottom: 217%;
    left: 78%; 
}

.img-espresso>img {
    width: 100%;
    height: 85%;
}
.img-italiana {
    width: 6%;
    height: 18%;
    z-index: 3;
    position: relative;
    bottom: 237%;
    left: 85%; 
}

.img-italiana>img {
    width: 100%;
    height: 95%;
}

.img-aeropress {
    width: 7%;
    height: 20%;
    z-index: 3;
    position: relative;
    bottom: 173%;
    left: 44%; 
}

.img-aeropress>img {
    width: 100%;
    height: 85%;
}
.img-v60 {
    width: 7%;
    height: 18%;
    z-index: 3;
    position: relative;
    bottom: 193%;
    left: 79%; 
}

.img-v60>img {
    width: 100%;
    height: 95%;
}
.img-chemex {
    width: 6%;
    height: 17%;
    z-index: 3;
    position: relative;
    bottom: 211%;
    left: 85.5%; 
}

.img-chemex>img {
    width: 95%;
    height: 100%;
}
.img-prensa {
    width: 7%;
    height: 18%;
    z-index: 3;
    position: relative;
    bottom: 147%;
    left: 43.5%; 
}

.img-prensa>img {
    width: 90%;
    height: 100%;
}
.img-cold {
    width: 7%;
    height: 18%;
    z-index: 3;
    position: relative;
    bottom: 164%;
    left: 85%; 
}

.img-cold>img {
    width: 100%;
    height: 100%;
}