.imagens {
    display: flex; 
    justify-content: flex-end; 
    margin-top: 150px;
}

.texto{
    margin-top: 100px; 
    display: grid; 
    grid-template-columns: 25% 65% 10%;
}

.acreditamos {
    font-size: 0.8rem; 
    line-height: 2;
}

.final {
    width: 90%;
    margin-right: 10%;
    display: flex;
    justify-content: flex-end;
}